body {
  background-color: lightblue;
}

nav {
  background-color: white;
  width: 100%;
  height: 50px;
  margin-top: -1%;
  margin-left: -1%;
  margin-bottom: 5px;
  padding: 1%;
  position: fixed;
}

.navigation {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  height: 46px;
  list-style-type: none;
  list-style-position: outside;
  display: block;
  border-bottom: 1px solid #e8e8e8;
}

.navigation li { 
  text-decoration: none; 
  display: inline; 
  color: black;
}

.navigation li a {
  text-decoration: none; 
  color: grey;

}

.navigation li a:hover {
  border-bottom: 6px solid #850404;
  padding-bottom: 22px;
  color: #850404;
}

.Icon--large {
  font-size: 21px;
  line-height: 1;
}

.Icon {
  background: transparent;
  font-style: normal;
  display: inline-block;
  vertical-align: baseline;
}

.Icon:before {
  display: block;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  -webkit-font-smoothing: antialiased;
}

.Icon--home:before { content: "\26A0"; }
.Icon--notifications:before { content: "\260E"; }
.Icon--messages:before { content: "\2605"; }
.Icon--discover:before { content: "\266F"; }

img {
  position: absolute;
  margin-left: 49%;
  margin-top: -6%;
  width: 40px;
  height: 40px;
}

.search-settings {
  display: inline-block;
  margin-left: 70%;
  margin-top: -5%;
  position: absolute;
}

.search-input {
  border-radius: 21px;
  box-sizing: border-box;
  width: 100%;
  height: 32px;
  padding: 5px 27px 6px 12px;
  font-size: 12px;
  background-color: #f5f8fa;
  border: 1px solid #e1e8ed;
  outline: 0;
}

.search-input:focus {
  background-color: white;
  -webkit-transition: all .100s ease-in-out;
  transition: all .100s ease-in-out;
}

.me {
  position: absolute;
  display: inline-block;
  border-radius: 10px;
  margin-left: 15px;
  margin-top: -15px;
}

.settings {
  display: inline-block;
  position: absolute;
  margin-left: 160px;
  margin-top: -12%;
}

.settings-menu {
  display: none;
}

.tweet {
  position: absolute;
  margin-left: 230px;
  margin-top: -33px;
  border-radius: 5px;
  border: 1px solid #e1e8ed;
  padding: 3px;
  font-size: 13px;
  width: 100px;
  height: 40px;
  color: white;
  background-color: #850404;
  outline: 0;
  opacity: 0.8;
}

.tweet:hover {
  opacity: 1
}

.dashboard {
  position: absolute;
  margin-left: 2%;
  margin-top: 6%;
}

.dashboard-color{
  position: absolute;
  width: 300px;
  height: 95px;
  background-color: #850404;
  border-radius: 5px 5px 0px 0px;
}

.dashboard-image {
  position: absolute;
  width: 72px;
  height: 72px;
  border-radius: 7px;
  margin-top: 70px;
  margin-left: 10px;
  border: 2px solid white;
  z-index: 1;
}

.dashboard-content {
  position: absolute;
  background-color: white;
  margin-top: 95px;
  width: 300px;
  height: 100px;
  border-radius: 0px 0px 5px 5px;
}

.my-details li {
  margin-left: 55px;
  margin-top: -3px;
  list-style-type: none;
}

.my-details li a {
  text-decoration: none; 
}

#topname {
  color: black;
  font-size: 20px;
  font-weight: bold;
}

#topname:hover {
  text-decoration: underline;
}

#bottomname {
  color: grey;
  font-size: 13px;
}

#bottomname:hover {
  color: #850404;
  text-decoration: underline;
}

.my-info {
  margin-top: -10px;
  margin-left: -25px;
}

.my-info li {
  list-style-type: none;
  display: inline;
  padding: 17px;
}

.my-info li a{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 10px;
  text-decoration: none; 
  color: grey;
}

.my-info li a:hover {
  color: #850404;
  -webkit-transition: all .100s ease-in-out;
  transition: all .100s ease-in-out;
}


